<table>
  <tr>
    <th>
      <i class="bitcoin-logo"></i>
      Bitcoin
    </th>
    <th>$2,429.74</th>
  </tr>
  <tr class="total">
    <td></td>
    <td>5.0029</td>
  </tr>
  <tr>
    <td>
      <i class="fa fa-lock"></i>
      E-coin Trezor (white)
    </td>
    <td>4.0000</td>
  </tr>
  <tr>
    <td>
      <i class="fa fa-lock"></i>
      Test Trezor (black)
    </td>
    <td>0.0000</td>
  </tr>
  <tr>
    <td>
      <i class="fa fa-lock"></i>
      Will's Ledger Wallet
    </td>
    <td>0.0000</td>
  </tr>
  <tr>
    <td>
      <i class="fa fa-unlock"></i>
      Will's Hot Wallet
    </td>
    <td>0.8750</td>
  </tr>
  <tr>
    <td>
      <i class="fa fa-share-alt"></i>
      My Joint Account
    </td>
    <td>1.0029</td>
  </tr>
  <tr>
    <td class="add-new-account">
      <i class="fa fa-plus-circle"></i>
      Add new account
    </td>
    <td></td>
  </tr>
</table>
