
<header>
  <img src="./images/logo.png" class="logo" />
  <nav>
    <div>
      1 BTC = $449.65
    </div>
    <div>
      Satoshi Nakamoto
    </div>
  </nav>
</header>

<main>
  <div id="accounts">
    <table>
      <tr>
        <th>
          <i class="bitcoin-logo"></i>
          Bitcoin
        </th>
        <th>$2,429.74</th>
      </tr>
      <tr>
        <td></td>
        <td>5.0029 BTC</td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-lock"></i>
          E-coin Trezor (white)
        </td>
        <td>4.0000</td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-lock"></i>
          Test Trezor (black)
        </td>
        <td>0.0000</td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-lock"></i>
          Will's Ledger Wallet
        </td>
        <td>0.0000</td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-unlock"></i>
          Will's Hot Wallet
        </td>
        <td>0.8750</td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-share-alt"></i>
          My Joint Account
        </td>
        <td>1.0029</td>
      </tr>
    </table>
  </div>

  <div id="actions">
    <ul id="tabs">
      <li class="active"><div><i>Transactions</i></div></li>
      <li><div><i>Deposit</i></div></li>
      <li><div><i>Request Payment</i></div></li>
      <li><div><i>Send</i></div></li>
    </ul>
    <div id="content">

    </div>
  </div>

</main>

<footer>
  <div>
    &copy; {{year}} E-COIN LLC, All Rights Reserved
  </div>
  <div>
    This software is open source. Star it on github <a href="https://github.com/hotwallet/web-wallet">here</a>!
  </div>
</footer>